<!DOCTYPE html>
<html>
<head>
  <title>Text Prediction</title>
</head>
<body>
  <h1>Text Prediction</h1>
  <form action="/predict" method="POST">
    <input type="text" name="text1" placeholder="Sprint duration"><br>
    <input type="text" name="text2" placeholder="Team FTE"><br>
    <input type="text" name="text3" placeholder="Max days"><br>
    <input type="text" name="text4" placeholder="Intended days"><br>
    <input type="text" name="text5" placeholder="Intended days off"><br>
    <input type="text" name="text6" placeholder="Initially resolved SP"><br>
    <input type="text" name="text7" placeholder="Planned releases count"><br>
    <input type="text" name="text8" placeholder="Will have Ship-it"><br>
    <input type="submit" value="Predict">
  </form>
</body>
</html>